@import url(../../../css/global-reset.css);

/* .footer {
    width: 100%;
    height: 7rem;
  
    background-color: #414042;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    padding-top: 1.5rem;
} */


