@import url(../../../css/global-reset.css);

.intro {
  width : 100%;
  height: auto;

  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : flex-start;

  margin-bottom: 1rem;
}

.intro h1 {
  width      : 100%;
  height     : auto;
  padding    : 1rem 0;
  /* font-weight: 400; */
}