main.grid-container {
  width : 100%;  
  height: 100vh;
  max-width: 1280px;

  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-around;
  align-items    : center;
  gap            : 20px;

  padding: 5rem 0;

  margin: auto;
}

.grid-item {
  flex            : 0 0 calc(100% - 100px);
  max-width       : calc(100% - 20px);
  box-sizing      : border-box;
  /* border       : 1px solid #ccc; */
  /* padding      : 16px; */
  text-align      : left;
  cursor          : pointer;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width : 100%;
  height: 7rem;

  background-color: #414042;

  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;

}

.nova-footer {
  width : 2rem;
  height: 2rem;
  margin: 0.5rem;
}
.footer .nova-footer:last-child .footer-social-icon img {
  height: 2.6rem;
  transform: translateY(-13%);
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {
  main.grid-container {
    justify-content: center;
  }

  .grid-item {
    flex     : 0 0 calc(50% - 100px);
    max-width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .main.grid-container {
    justify-content: center;
  }

  .grid-item {
    flex     : 0 0 calc(33.33% - 100px);
    max-width: calc(33.33% - 20px);
  }
}